# -------------------------
# Eclipse
# -------------------------
.classpath
.project
.settings/

# Eclipse launch configs
*.launch

# -------------------------
# Maven
# -------------------------
/target/

# -------------------------
# Logs & Reports
# -------------------------
logs/
reports/
test-output/
*.log

# -------------------------
# OS Specific
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Misc
# -------------------------
*.tmp
*.swp
